# Sobre o notebook

A "hora da prática" é uma atividade do curso de Python para Data Science da Alura que contém diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da pratica" é um notebook construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 1 - Introdução ao Python

### Questão 1

Imprima a frase `Escola de Dados da Alura!`

In [1]:
print('Escola de Dados da Alura')

Escola de Dados da Alura

### Questão 2
Imprima na tela seu nome e seu sobrenome seguindo a estrutura abaixo:
```
Nome: [seu nome]
Sobrenome: [seu sobrenome]
```

In [2]:
print('Nome: Paulo\nSobrenome: Miranda')

Nome: Paulo
Sobrenome: Miranda

### Questão 3
Imprima o seu primeiro nome letra a letra. Por exemplo, nome é Mirla, então eu obtenho a seguinte saída:
```
M
I
R
L
A
```

In [3]:
print('P\nA\nU\nL\nO')

P
A
U
L
O

### Questão 4
Imprima o dia do seu nascimento em formato `dia mês ano`. Os valores de dia e ano não podem estar entre aspas. O formato deve estar como no exemplo, supondo uma data de aniversário dia 28 de fevereiro de 2003:
```
28 fevereiro 2003
```

In [4]:
print(27,'Dezembro', 1990)

27 Dezembro 1990

### Questão 5
Imprima em um único print o atual ano que você está fazendo esse curso, o valor do ano deve ser um dado numérico. A saída do print deve ser a seguinte:
```
Ano atual: [ano]
```

In [5]:
print('Ano atual:',2025)

Ano atual: 2025

## Aula 2 - Manipulando dados no Python

### Coleta e amostragem de dados

#### Questão 1
Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.

In [6]:
nome = input('Digite o seu nome')
print(f'Olá {nome}!')

Olá Paulo!

#### Questão 2
Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.

In [7]:
nome = input('Digite seu nome')
idade = int(input(f'{nome}, digite seu ano de nascimento'))

idade = 2025-idade

print(f'Olá {nome}, você tem por volta de {idade} anos')

Olá Paulo, você tem por volta de 35 anos

#### Questão 3
Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

In [8]:
nome = input('Digite seu nome')
ano_nasc = int(input(f'{nome}, digite seu ano de nascimento'))
altura = float(input(f'{nome}, agora digite a sua altura em metros (separa os centimentos com ponto)'))

idade = 2025-ano_nasc

print(f'Olá {nome}, você tem aproximadamente {idade} anos e mede {altura} metros!')

Olá Paulo, você tem aproximadamente 35 anos e mede 1.85 metros!

### Calculadora com operadores

#### Questão 1

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.

In [ ]:
num = int(input('Vamos Somar, digite o primeiro número'))
num2 = int(input('Digite o segundo número'))

result = num+num2

print(f'O valor da soma de {num} com {num2} é {result}')

O valor da soma de 15 com 30 é 45

#### Questão 2
Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.

In [ ]:
num = int(input('Vamos Somar, digite o primeiro número'))
num2 = int(input('Digite o segundo número'))
num3 = int(input('Digite o terceiro número'))

result = num+num2+num3

print(f'O valor da soma de {num} com {num2} e {num3} é de {result}')

O valor da soma de 15 com 25 e 258 é de 298

#### Questão 3
Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.

In [ ]:
num = int(input('Vamos subtrair, digite o primeiro número'))
num2 = int(input('Digite o segundo número'))

result = num-num2

print('O resultado de {} menos {} é de {}'.format(num,num2,result))

O resultado de 159 menos 21 é de 138

#### Questão 4

Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.

In [ ]:
num = int(input('Vamos multiplicar, digite o primeiro número'))
num2 = int(input('Digite o segundo número'))

result = num*num2

print(f'O valor de {num} multiplicado por {num2} é de {result}')

O valor de 12 multiplicado por 25 é de 300

#### Questão 5

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
num = int(input('Vamos dividir, digite o primeiro número [numerador]'))
num2 = int(input('Digite o segundo número [denominador], que deve ser maior que ZERO'))

result = num/num2

print(f'A divisão entre {num} por {num2} é igual a {result}')

A divisão entre 150 por 10 é igual a 15.0

#### Questão 6

Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.

In [ ]:
num = int(input('Vamos Potencializar, digite o primeiro número (número base)'))
num2 = int(input('Digite o segundo número (expoente)'))

result = num**num2

print(f'O resultado da potência {num} elevado a {num2} é de {result}')

O resultado da potência 9 elevado a 3 é de 729

#### Questão 7
Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
num = int(input('Vamos encontrar o inteiro da divisão, digite o primeiro número (numerador)'))
num2 = int(input('Digite o segundo número (denominador), que deve ser maior que ZERO'))

result = num//num2

print(f'O numero inteiro da divisão entre {num} por {num2} é de {result}')

O numero inteiro da divisão entre 756 por 12 é de 63

#### Questão 8

Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser `0`.

In [ ]:
num = int(input('Vamos encontrar o resto da divisão, digite o primeiro número (numerador)'))
num2 = int(input('Digite o segundo número (denominador), que deve ser maior que ZERO'))

result = num%num2

print(f'O numero resto da divisão entre {num} por {num2} é de {result}')

O numero resto da divisão entre 7 por 3 é de 1

#### Questão 9

Crie um código que solicita 3 notas de um estudante e imprima a média das notas.

In [17]:
print('Digite as 3 notas do aluno')

nota1 = float(input('Digite a primeira nota'))
nota2 = float(input('Digite a segunda nota'))
nota3 = float(input('Digite a terceira nota'))

result = (nota1+nota2+nota3)/3

print(f'Primeira Nota: {nota1}\nSegunda Nota: {nota2}\nTerceira Nota: {nota3}\n\nA média das notas do Aluno é: {result:.2f}')

Digite as 3 notas do aluno
Primeira Nota: 10.0
Segunda Nota: 6.5
Terceira Nota: 8.0

A média das notas do Aluno é: 8.17

#### Questão 10

Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.

In [ ]:
num = 5
num2 = 12
num3 = 20
num4 = 15
peso1 = 1
peso2 = 2
peso3 = 3
peso4 = 4

media_p = (num*peso1 + num2*peso2 + num3*peso3 + num4*peso4)/4

print(f'A média ponderada dos valores {num}, {num2}, {num3} e {num4} com os respectivos pesos {peso1}, {peso2}, {peso3} e {peso4} é de {media_p}')

A média ponderada dos valores 5, 12, 20 e 15 com os respectivos pesos 1, 2, 3 e 4 é de 37.25

### Editando textos

#### Questão 1

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.

In [19]:
frase = 'Espalha rama pelo chão.'

print(frase)

Espalha rama pelo chão.

#### Questão 2
Crie um código que solicite uma frase e depois imprima a frase na tela.

In [20]:
frase = input('Digite uma frase')

print(f'A frase digitada foi: "{frase}"')

A frase digitada foi: "Essa metamorfose ambulante"

#### Questão 3

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.

In [21]:
frase = input('Digite uma frase')

print(f'A frase digitada foi: "{frase.upper()}"')

A frase digitada foi: "DO QUE TER AQUELA VELHA OPINIÃO"

#### Questão 4

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.

In [22]:
frase = input('Digite uma frase')

print(f'A frase digitada foi: "{frase.lower()}"')

A frase digitada foi: "formada sobre tudo"

#### Questão 5

Crie uma variável chamada “`frase`” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.

In [23]:
frase = ' Azul é azul, vermleho é vermelho '

print(frase.replace(' ', ''))

Azuléazul,vermlehoévermelho

#### Questão 6

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.

In [24]:
frase = input('Digite sua frase').replace(' ', '')

print(f'Sua frase sem espaços: "{frase}"')

Sua frase sem espaços: "Sobreoqueéoamor"

#### Questão 7


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.

In [25]:
frase = input('Digite sua frase').replace(' ', '').lower()

print(f'Sua frase sem espaços e tudo em minusculas: "{frase}"')

Sua frase sem espaços e tudo em minusculas: "sobreoqueeunemseiquemsou"

#### Questão 8

Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`e`” trocadas pela letra “`f`”.

In [26]:
frase = input('Digite sua frase').replace('e', 'f').replace('E','F')

print(f'Sua frase com as letras "e" trocadas por "f": "{frase}"')

Sua frase com as letras "e" trocadas por "f": "Sf hojf fu sou fstrfla"

#### Questão 9


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “`a`” trocadas pela caractere  “`@`”.

In [27]:
frase = input('Digite sua frase').replace('a', '@').replace('A','@')

print(f'Sua frase com as letras "a" trocadas por "@": "{frase}"')

Sua frase com as letras "a" trocadas por "@": "@m@nhã já se @p@gou"

#### Questão 10


Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “`s`” trocadas pelo caractere  “`$`”.

In [28]:
frase = input('Digite sua frase').replace('s', '$').replace('S','$')

print(f'Sua frase com as letras "s" trocadas por "$": "{frase}"')

Sua frase com as letras "s" trocadas por "$": "$e hoje eu lhe odeio"

## Aula 3 - Estruturas condicionais

### Aquecendo na programação

#### Questão 1
Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

In [273]:
print('Comparação de números')

num = float(input('digite o primeiro número'))
print(f'Número 1: {num}')

num2 = float(input('digite o segundo número'))
print(f'Número 2: {num2}')

if num > num2:
    print(f'\nO maior número é {num}')
elif num2 > num:
    print(f'\nO maior número é {num2}')
else:
    print('\nOs dois números são iguais.')

Comparação de números
Número 1: 27.0
Número 2: 27.0

Os dois números são iguais.

#### Questão 2
Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

In [ ]:
print('Crescimento de produção')

num = float(input('Digite o valor percentual de crescimento'))
print(f'Percentual de crescimento: {num}\n')

if num > 0:
    print(f'Segundo o percentual informado houve um cresimento de {num}%')
elif num < 0:
    print(f'Segundo o percentual informado houve um decresimento de {num}%')
else:
    print('Não houve crescimento de produção')

Crescimento de produção
Percentual de crescimento: 15.0

Segundo o percentual informado houve um cresimento de 15.0%

#### Questão 3
Escreva um programa que determine se uma letra fornecida pela pessoa usuária é uma vogal ou consoante.

In [31]:
letra = input('Digite uma letra')

print(f'Letra digitada: {letra}\n')

vogais = ['a','e','i','o','u','A','E','I','O','U']

if letra in vogais:
    print(f'A letra "{letra}" é uma vogal')
else:
    print(f'A letra {letra} é uma consoante')

Letra digitada: a

A letra "a" é uma vogal

#### Questão 4
Escreva um programa que leia valores médios de preços de um modelo de carro por 3 anos consecutivos e exiba o valor mais alto e mais baixo entre esses três anos.

In [32]:
ano1_val = float(input('Digite o valor médio do carro no primeiro ano'))
ano2_val = float(input('Digite o valor médio do carro do segundo ano'))
ano3_val = float(input('Digite o valor médio do carro do terceiro ano'))

print(f'Preço médio do carro\nAno 1: {ano1_val}\nAno 2: {ano2_val}\nAno 3: {ano3_val}\n')

if ano1_val > ano2_val and ano1_val > ano3_val:
    print(f'Maior valor está presente no Ano 1 com o valor de {ano1_val}')
elif ano2_val > ano3_val and ano2_val > ano3_val:
    print(f'Maior valor está presente no Ano 2 com o valor de {ano2_val}')
else:
    print(f'Maior valor está presente no Ano 3 com o valor de {ano3_val}')

if ano1_val < ano2_val and ano1_val < ano3_val:
    print(f'E o menor valor está presente no Ano 1 com o valor de {ano1_val}')
elif ano2_val < ano3_val and ano2_val < ano3_val:
    print(f'E o menor valor está presente no Ano 2 com o valor de {ano2_val}')
else:
    print(f'E o menor valor está presente no Ano 3 com o valor de {ano3_val}')

Preço médio do carro
Ano 1: 89000.0
Ano 2: 78999.99
Ano 3: 82000.0

Maior valor está presente no Ano 1 com o valor de 89000.0
E o menor valor está presente no Ano 2 com o valor de 78999.99

#### Questão 5
Escreva um programa que pergunte sobre o preço de três produtos e indique qual é o produto mais barato para comprar.

In [33]:
prod1_val = float(input('Digite o preço do primeiro produto'))
prod2_val = float(input('Digite o preço do segundo produto'))
prod3_val = float(input('Digite o preço do terceiro produto'))

print(f'Preço do produto 1: {prod1_val}\nProduto 2: {prod2_val}\nProduto 3: {prod3_val}\n')

if prod1_val < prod2_val and prod1_val < prod3_val:
    print(f'O preço mais baixo é do produto 1 {prod1_val}')
elif prod2_val < prod3_val and prod2_val < prod3_val:
    print(f'O preço mais baixo é do produto 2 {prod2_val}')
else:
    print(f'O preço mais baixo é do produto 3 {prod3_val}')

Preço do produto 1: 15.5
Produto 2: 12.75
Produto 3: 11.8

O preço mais baixo é do produto 3 11.8

#### Questão 6
Escreva um programa que leia três números e os exiba em ordem decrescente.

In [ ]:
print('Ordenção decresente')
num = int(input('Digite o primeiro número'))
num2 = int(input('Digite o segundo número'))
num3 = int(input('Digite o terceiro número'))

ord1, ord2, ord3 = num, num2, num3

print(f'Números digitados: {num}, {num2} e {num3}\n')

if ord1 > ord2:
    ord1, ord2 = ord2, ord1
if ord1 > ord3:
    ord1, ord3 = ord3, ord1
if ord2 > ord3:
    ord2, ord3 = ord3, ord2

print('Ordenados de modo decresente: ')
print(f'{ord3}\n{ord2}\n{ord1}')

Ordenção decresente
Números digitados: 2, 1 e 3

Ordenados de modo decresente:
3
2
1

#### Questão 7
Escreva um programa que pergunte em qual turno a pessoa usuária estuda ("manhã", "tarde" ou "noite") e exiba a mensagem "Bom Dia!", "Boa Tarde!", "Boa Noite!", ou "Valor Inválido!", conforme o caso.

In [35]:
turno = input('Você estuda no turno da manhã, da tarde, ou da noite')

if turno.lower() == 'manhã':
    print('Bom dia')
elif turno.lower() == 'tarde':
    print('Boa tarde')
elif turno.lower() == 'noite':
    print('Boa noite')
else:
    print('Turno inválido/Não identificado')

Boa tarde

#### Questão 8
Escreva um programa que peça um número inteiro à pessoa usuária e determine se ele é par ou ímpar. Dica: Você pode utilizar o operador módulo `%`.

In [36]:
num = int(input('Digite um número inteiro'))

print(f'Número escolhido: {num}')

if num % 2 == 0:
    print(f'O número {num} é par')
else:
    print(f'O número {num} é ímpar')

Número escolhido: 5
O número 5 é ímpar

#### Questão 9
Escreva um programa que peça um número à pessoa usuária e informe se ele é inteiro ou decimal.

In [280]:
num = float(input('Digite um número com ou sem decimais'))

print(f'Número digitado: {num}')

if num % 1 > 0:
    print('O número digitado contém decimal')
else:
    print('O número digitado é um inteiro')

Número digitado: 8.0
O número digitado é um inteiro

### Momento dos projetos

#### Questão 10
Um programa deve ser escrito para ler dois números e, em seguida, perguntar à pessoa usuária qual operação ele deseja realizar. O resultado da operação deve incluir informações sobre o número - se é par ou ímpar, positivo ou negativo e inteiro ou decimal.

In [ ]:
num = float(input('Digite o primeiro número'))
num2 = float(input('Digite o segundo número'))

oper = input('Digite qual operação deseja realizar (Adição, Subtração, Divisão ou Multiplicação)')

while oper.lower() not in ['adição', 'subtração', 'divisão', 'multiplicação','+','-','*','/']:
    oper = input('Escolha uma das quatro operações disponíveis: Adição, Subtração, Divisão ou Multiplicação')
    
print(f'Números escolhidos: {num} e {num2}\nOperação: {oper}')

#Realizando a operação
if oper.lower() == 'adição':
    result = round(num + num2,2)
elif oper.lower() == 'subtração':
    result = round(num - num2,2)
elif oper.lower() == 'divisão':
    result = round(num / num2,2)
elif oper.lower() == 'multiplicação':
    result = round(num * num2,2)

#Definindo se é par ou ímpar
if result % 2 == 0:
    tipo = 'par'
else:
    tipo = 'ímpar'

#Definindo se é negativo ou positivo
if result < 0:
    sinal = 'negativo'
else:
    sinal = 'positivo'

#Definindo se é inteiro ou decimal
if result % 1 > 0:
    decint = 'decimal'
else:
    decint = 'inteiro'


print(f'A operação de {oper.lower()} resultou no número {result} que é um número {sinal}, {tipo} e {decint}')

Números escolhidos: 2.31 e -1.258
Operação: Multiplicação
A operação de multiplicação resultou no número -2.91 que é um número negativo, ímpar e decimal

#### Questão 11
Escreva um programa que peça à pessoa usuária três números que representam os lados de um triângulo. O programa deve informar se os valores podem ser utilizados para formar um triângulo e, caso afirmativo, se ele é equilátero, isósceles ou escaleno. Tenha em mente algumas dicas:
- Três lados formam um triângulo quando a soma de quaisquer dois lados for maior que o terceiro;
- Triângulo Equilátero: três lados iguais;
- Triângulo Isósceles: quaisquer dois lados iguais;
- Triângulo Escaleno: três lados diferentes;

In [67]:
ladoA = float(input('Digite o tamanho do lado a de um triângulo'))
ladoB = float(input('Digite o tamanho do lado b de um triângulo'))
ladoC = float(input('Digite o tamanho do lado c de um triângulo'))

print(f'Lados escolhidos para o triângulo:\nA: {ladoA}\nB: {ladoB}\nC: {ladoC}\n')

#Verificando se é um triangulo
if ladoA+ladoB < ladoC or ladoA+ladoC < ladoB or ladoC+ladoB < ladoA:
    print('Não é possível gerar um triângulo com as medidas informadas')
elif ladoA==ladoB==ladoC:
    print('Este é um triângulo Equilátero')
elif ladoA==ladoB or ladoA==ladoC or ladoB==ladoC:
    print('Este triângulo é Isósceles')
else:
    print('Triângulo Escaleno')

Lados escolhidos para o triângulo:
A: 2.0
B: 3.0
C: 5.0

Triângulo Escaleno

#### Questão 12
Um estabelecimento está vendendo combustíveis com descontos variados. Para o etanol, se a quantidade comprada for até 15 litros, o desconto será de 2% por litro. Caso contrário, será de 4% por litro. Para o diesel, se a quantidade comprada for até 15 litros, o desconto será de 3% por litro. Caso contrário, será de 5% por litro. O preço do litro de diesel é R\$ 2,00 e o preço do litro de etanol é R\$ 1,70. Escreva um programa que leia a quantidade de litros vendidos e o tipo de combustível (E para etanol e D para diesel) e calcule o valor a ser pago pelo cliente. Tenha em mente algumas dicas:

- O do valor do desconto será a multiplicação entre preço do litro, quantidade de litros e o valor do desconto.
- O valor a ser pago por um cliente será o resultado da multiplicação do preço do litro pela quantidade de litros menos o valor de desconto resultante do cálculo.

In [76]:
combustivel = input('Escolha o tipo de combustível, (E) Etanol ou (D) Diesel.')

preco_E = 1.70
preco_D = 2.00

desc_E15 = 2/100
desc_E = 4/100
desc_D15 = 3/100
desc_D = 5/100

while combustivel not in ['E','D']:
    combustivel = input('Escolha entre (E) Etanol ou (D) Diesel.')

litro = float(input('Digite a quantidade de litros abastecido'))

print('Dados do abastecimento')
if combustivel == 'E':
    valorT = litro * preco_E
    print(f'Combustível: ({combustivel}) Etanol')
    if litro <= 15:
        val_desc = litro * preco_E * desc_E15
        desc = desc_E15*100
    else:
        val_desc = litro * preco_E * desc_E
        desc = desc_E*100
else:
    valorT = litro * preco_D
    print(f'Combustível: ({combustivel}) Diesel')
    if litro <= 15:
        val_desc = litro * preco_D * desc_D15
        desc = desc_D15*100
    else:
        val_desc = litro * preco_D * desc_D
        desc = desc_D*100

print(f'Litros: {litro:.3f}')

print(f'Valor Bruto: {valorT:.2f}\nTotal Desconto ({desc:.0f}%/L): {val_desc:.2f}\n\nTotal à Pagar: {valorT-val_desc:.2f}')

Dados do abastecimento
Combustível: (D) Diesel
Litros: 23.486
Valor Bruto: 46.97
Total Desconto (5%/L): 2.35

Total à Pagar: 44.62

#### Questão 13
Em uma empresa de venda de imóveis você precisa criar um código que analise os dados de vendas anuais para ajudar a diretoria na tomada de decisão. O código precisa coletar os dados de quantidade de venda durante os anos de 2022 e 2023 e fazer um cálculo de variação percentual. A partir do valor da variação, deve ser enviada às seguintes sugestões:
- Para variação acima de 20%: bonificação para o time de vendas.
- Para variação entre 2% e 20%: pequena bonificação para time de vendas.
- Para variação entre 2% e -10%: planejamento de políticas de incentivo às vendas.
- Para bonificações abaixo de -10%: corte de gastos.

In [93]:
inicial = int(input('Digite a quantidade de vendas realizadas em 2022'))
final = int(input('Digite a quantidade de vendas realizadas em 2023'))

print(f'Quantidade de Vendas\n2022: {inicial}\n2023: {final}\n')

variacao = ((final-inicial)/inicial)*100

print(f'A variação foi de {variacao:.2f}%')

if variacao >= 20:
    print('Bonificação para o time de vendas')
elif variacao >= 2:
    print('Pequena bonificação para o time de vendas')
elif variacao >= -10:
    print('Planejamento de políticas de icentivo às vendas')
else:
    print('Corte de Gastos')

Quantidade de Vendas
2022: 15000
2023: 13200

A variação foi de -12.00%
Corte de Gastos

## Aula 4 - Estruturas de repetição

### Aquecendo na programação

#### Questão 1
Escreva um programa que peça dois números inteiros e imprima todos os números inteiros entre eles.

In [232]:
num = int(input('Digite um número inteiro'))
num2 = int(input('Digite outro número inteiro'))

print(f'Os números escolhidos foram: {num} e {num2}')

if num > num2:
    num,num2 = num2,num

if num2-num-1 == 0:
    print(f'Não existem números entre {num} e {num2}')
else:
    print(f'Os {num2-num-1} números entre {num} e {num2}:')
    for num in range(num+1,num2):
        print(num)

# print('\nCom while:')
# #utilizando While
# while num1 < num2-1:
#     num1 += 1
#     print(num1)

Os números escolhidos foram: 5 e 6
Não existem números entre 5 e 6

#### Questão 2
Escreva um programa para calcular quantos dias levará para a colônia de uma bactéria A ultrapassar ou igualar a colônia de uma bactéria B, com base nas taxas de crescimento de 3% e 1,5% respectivamente. Considere que a colônia A inicia com 4 elementos e a colônia B com 10 elementos.

In [ ]:
colA = 4
colB = 10
crescA = 0.03
crescB = 0.015

dia = 0

while colA < colB:
    dia += 1
    colA += crescA*colA
    colB += crescB*colB

    print(f'Dia {dia}\tColônia A: {colA:.2f}\tColônia B: {colB:.2f}')

print(f'\nNo {dia}º dia a colônia A com {colA:.2f} elementos alcançou a colônia B que estava com {colB:.2f} elementos.')

Dia 1	Colônia A: 4.12	Colônia B: 10.15
Dia 2	Colônia A: 4.24	Colônia B: 10.30
Dia 3	Colônia A: 4.37	Colônia B: 10.46
Dia 4	Colônia A: 4.50	Colônia B: 10.61
Dia 5	Colônia A: 4.64	Colônia B: 10.77
Dia 6	Colônia A: 4.78	Colônia B: 10.93
Dia 7	Colônia A: 4.92	Colônia B: 11.10
Dia 8	Colônia A: 5.07	Colônia B: 11.26
Dia 9	Colônia A: 5.22	Colônia B: 11.43
Dia 10	Colônia A: 5.38	Colônia B: 11.61
Dia 11	Colônia A: 5.54	Colônia B: 11.78
Dia 12	Colônia A: 5.70	Colônia B: 11.96
Dia 13	Colônia A: 5.87	Colônia B: 12.14
Dia 14	Colônia A: 6.05	Colônia B: 12.32
Dia 15	Colônia A: 6.23	Colônia B: 12.50
Dia 16	Colônia A: 6.42	Colônia B: 12.69
Dia 17	Colônia A: 6.61	Colônia B: 12.88
Dia 18	Colônia A: 6.81	Colônia B: 13.07
Dia 19	Colônia A: 7.01	Colônia B: 13.27
Dia 20	Colônia A: 7.22	Colônia B: 13.47
Dia 21	Colônia A: 7.44	Colônia B: 13.67
Dia 22	Colônia A: 7.66	Colônia B: 13.88
Dia 23	Colônia A: 7.89	Colônia B: 14.08
Dia 24	Colônia A: 8.13	Colônia B: 14.30
Dia 25	Colônia A: 8.38	Colônia B: 14.51
Dia 26	Colônia A: 8.63	Colônia B: 14.73
Dia 27	Colônia A: 8.89	Colônia B: 14.95
Dia 28	Colônia A: 9.15	Colônia B: 15.17
Dia 29	Colônia A: 9.43	Colônia B: 15.40
Dia 30	Colônia A: 9.71	Colônia B: 15.63
Dia 31	Colônia A: 10.00	Colônia B: 15.87
Dia 32	Colônia A: 10.30	Colônia B: 16.10
Dia 33	Colônia A: 10.61	Colônia B: 16.34
Dia 34	Colônia A: 10.93	Colônia B: 16.59
Dia 35	Colônia A: 11.26	Colônia B: 16.84
Dia 36	Colônia A: 11.59	Colônia B: 17.09
Dia 37	Colônia A: 11.94	Colônia B: 17.35
Dia 38	Colônia A: 12.30	Colônia B: 17.61
Dia 39	Colônia A: 12.67	Colônia B: 17.87
Dia 40	Colônia A: 13.05	Colônia B: 18.14
Dia 41	Colônia A: 13.44	Colônia B: 18.41
Dia 42	Colônia A: 13.84	Colônia B: 18.69
Dia 43	Colônia A: 14.26	Colônia B: 18.97
Dia 44	Colônia A: 14.69	Colônia B: 19.25
Dia 45	Colônia A: 15.13	Colônia B: 19.54
Dia 46	Colônia A: 15.58	Colônia B: 19.84
Dia 47	Colônia A: 16.05	Colônia B: 20.13
Dia 48	Colônia A: 16.53	Colônia B: 20.43
Dia 49	Colônia A: 17.02	Colônia B: 20.74
Dia 50	Colônia A: 17.54	Colônia B: 21.05
Dia 51	Colônia A: 18.06	Colônia B: 21.37
Dia 52	Colônia A: 18.60	Colônia B: 21.69
Dia 53	Colônia A: 19.16	Colônia B: 22.01
Dia 54	Colônia A: 19.74	Colônia B: 22.34
Dia 55	Colônia A: 20.33	Colônia B: 22.68
Dia 56	Colônia A: 20.94	Colônia B: 23.02
Dia 57	Colônia A: 21.57	Colônia B: 23.36
Dia 58	Colônia A: 22.21	Colônia B: 23.72
Dia 59	Colônia A: 22.88	Colônia B: 24.07
Dia 60	Colônia A: 23.57	Colônia B: 24.43
Dia 61	Colônia A: 24.27	Colônia B: 24.80
Dia 62	Colônia A: 25.00	Colônia B: 25.17
Dia 63	Colônia A: 25.75	Colônia B: 25.55
No 63º dia a colônia A com 25.75 elementos alcançou a colônia B que estava com 25.55 elementos.

#### Questão 3
Para tratar uma quantidade de 15 dados de avaliações de pessoas usuárias de um serviço da empresa, precisamos verificar se as notas são válidas. Então, escreva um programa que vai receber a nota de 0 a 5 de todos os dados e verificar se é um valor válido. Caso seja inserido uma nota acima de 5 ou abaixo de 0, repita até que a pessoa usuária insira um valor válido.

In [ ]:
for dado in range(1,16):

    nota = int(input(f'Dado {dado}. Digite a nota de 0 a 5'))

    while nota > 5 or nota < 0:
        nota = int(input(f'Dado {dado}. Digite a nota de 0 a 5'))

    print(f'Dado {dado} - Nota: {nota}')

Dado: 1 - Nota: 1
Dado: 2 - Nota: 2
Dado: 3 - Nota: 3
Dado: 4 - Nota: 4
Dado: 5 - Nota: 5
Dado: 6 - Nota: 3
Dado: 7 - Nota: 2
Dado: 8 - Nota: 5
Dado: 9 - Nota: 1
Dado: 10 - Nota: 4
Dado: 11 - Nota: 2
Dado: 12 - Nota: 1
Dado: 13 - Nota: 3
Dado: 14 - Nota: 5
Dado: 15 - Nota: 2

#### Questão 4
Desenvolva um programa que leia um conjunto indeterminado de temperaturas em Celsius e faça uma análise. Portanto, escreva um programa que leia temperaturas e informe a média delas. A leitura deve ser encerrada ao ser enviado o valor -273°C.

In [237]:
temp = float(input('Digite o valor da temperatura'))
tempT = temp
i = 1

print(f'Temperatura {i}: {temp:.1f}°C')

while temp != -273:
    temp = float(input('Digite o valor da temperatura'))
    if temp == -273:
        break
    tempT += temp
    i += 1
    avg = tempT/i
    print(f'Temperatura {i}: {temp:.1f}°C\tMédia atual: {avg:.1f}')

Temperatura 1: 5.0°C
Temperatura 2: 10.0°C	Média atual: 7.5
Temperatura 3: 20.0°C	Média atual: 11.7
Temperatura 4: 16.0°C	Média atual: 12.8

#### Questão 5
Escreva um programa que calcule o fatorial de um número inteiro fornecido pela pessoa usuária. O fatorial de um número inteiro é a multiplicação desse número por todos os seus antecessores até o número 1. Por exemplo, o fatorial de 5 é 5 x 4 x 3 x 2 x 1 = 120.

In [168]:
num = int(input('Digite o número inteiro para aplicar o fatorial'))
result = num

print(f'Número escolhido {num}')

for fat in range(num,1,-1):
    print(f'{num}! = {result} x {fat-1} = {result * (fat-1)}')
    result = result * (fat-1)

result2 = f'{num} '
for fat in range(num,1,-1):
    result2 += (str(f'x {fat-1} '))

print (f'\n{num}! = {result2} = {result}')

Número escolhido 10
10! = 10 x 9 = 90
10! = 90 x 8 = 720
10! = 720 x 7 = 5040
10! = 5040 x 6 = 30240
10! = 30240 x 5 = 151200
10! = 151200 x 4 = 604800
10! = 604800 x 3 = 1814400
10! = 1814400 x 2 = 3628800
10! = 3628800 x 1 = 3628800

10! = 10 x 9 x 8 x 7 x 6 x 5 x 4 x 3 x 2 x 1  = 3628800

### Momento dos projetos

#### Questão 6
Escreva um programa que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 2, a tabuada deve ser mostrada no seguinte formato:
```
Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20
```

In [178]:
num = int(input('Digite o número inteiro para gerar a tabuada'))

print(f'Tabuada do {num}:')

for tabu in range(1,11):
    print(f'{num} x {tabu} = {num * tabu}')

Tabuada do -5:
-5 x 1 = -5
-5 x 2 = -10
-5 x 3 = -15
-5 x 4 = -20
-5 x 5 = -25
-5 x 6 = -30
-5 x 7 = -35
-5 x 8 = -40
-5 x 9 = -45
-5 x 10 = -50

In [187]:
num = 10

print('Tabuadas de 1 a 10')

for tab in range(1,num+1):
    print(f'\nTabuada do {tab}:')

    for tabu in range(1,11):
        print(f'{tabu} x {tab} = {tab * tabu}')

Tabuadas de 1 a 10

Tabuada do 1:
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10

Tabuada do 2:
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

Tabuada do 3:
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

Tabuada do 4:
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

Tabuada do 5:
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

Tabuada do 6:
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

Tabuada do 7:
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

Tabuada do 8:
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

Tabuada do 9:
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

Tabuada do 10:
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

#### Questão 7
Os números primos possuem várias aplicações dentro da Ciência de Dados, por exemplo, na criptografia e segurança. Um número primo é aquele que é divisível apenas por um e por ele mesmo. Faça um programa que peça um número inteiro e determine se ele é ou não um número primo.

In [265]:
num = int(input('Digite o número para saber se é primo'))
ctr = 0

for i in range(1,num):
    if num % i == 0:
        ctr += 1
    if ctr > 1:
        print(f'{num} não é número primo')
        break
    
if num <= 1:
        print(f'{num} não é número primo')

if ctr == 1:
    print(f'O número {num} é primo')

-2 não é número primo

In [208]:
num = 100

print('Números Primos até 100:') 

for n in range(1,num+1):
    ctr = 0
    for i in range(1,n):
        if n % i == 0:
            ctr += 1
        # if ctr > 1:
        #     break
    if ctr == 1:
        print(f'{n}')

Números Primos até 100:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

#### Questão 8
Vamos entender a distribuição de idades de pensionistas de uma empresa de previdência. Escreva um programa que leia as idades de uma quantidade não informada de clientes e mostre a distribuição em intervalos de [0-25], [26-50], [51-75] e [76-100]. Encerre a entrada de dados com um número negativo.

In [214]:
idade = 0
pens = 0

gap1,gap2,gap3,gap4 = 0,0,0,0

while idade >= 0:
    idade = int(input('Digite a idade do pensionista'))
    if idade == -1:
        break
    if idade >= 76:
        print(idade)
        gap4 +=1
    elif idade >= 51:
        print(idade)
        gap3 +=1
    elif idade >= 26:
        print(idade)
        gap2 +=1
    elif idade >= 0:
        print(idade)
        gap1 +=1
    pens +=1


print(f'\nForam digitadas as idade de {pens} pensionistas distribuídos:',
      f'\n[0-25] - {gap1}\n[26-50] - {gap2}\n[51-75] - {gap3}\n[76+] - {gap4}\n')

89
90
56
65
70
2

Foram digitadas as idade de 6 pensionistas distribuídos:
[0-25] - 1
[26-50] - 0
[51-75] - 3
[76+] - 2

#### Questão 9
Em uma eleição para gerência em uma empresa com 20 funcionários, existem quatro candidatos. Escreva um programa que calcule o vencedor da eleição. A votação ocorreu da seguinte maneira:
- Cada funcionário votou em um dos quatro candidatos (representados pelos números 1, 2, 3 e 4).
- Também foram contabilizados os votos nulos (representado pelo número 5) e os votos em branco (representado pelo número 6).

Ao final da votação, o programa deve exibir o total de votos para cada candidato, o número de votos nulos e o número de votos em branco. Além disso, deve calcular e exibir a porcentagem de votos nulos em relação ao total de votos e a porcentagem de votos em branco em relação ao total de votos.

In [228]:
voto = 1
rep1,rep2,rep3,rep4,nul,bra = 0,0,0,0,0,0

for i in range(1,21):
    voto = int(input(f'Voto nº {i}. Digite o voto de 1 a 6'))

    while 7 <= voto or voto <= 0:
        voto = int(input(f'Voto nº {i} inválido. Escolha um número de 1 a 6'))

    if voto == 1:
        rep1 +=1
    if voto == 2:
        rep2 +=1
    if voto == 3:
        rep3 +=1
    if voto == 4:
        rep4 +=1
    if voto == 5:
        nul +=1
    if voto == 6:
        bra +=1

votos = [rep1,rep2,rep3,rep4,nul,bra]
reps = ['Representante 1','Representante 2', 'Representante 3', 'Representante 4', 'Voto Nulo', 'Voto Branco']

print('Votos contabilizados: ')
for rep in range(1,7):
    print(f'{reps[rep-1]}, {votos[rep-1]} votos ({votos[rep-1]/20*100}%)')

Votos contabilizados:
Representante 1, 5 votos (25.0%)
Representante 2, 6 votos (30.0%)
Representante 3, 3 votos (15.0%)
Representante 4, 1 votos (5.0%)
Voto Nulo, 3 votos (15.0%)
Voto Branco, 2 votos (10.0%)

## Aula 5 - Estruturas de dados

### Aquecendo na programação

#### Questão 1
Faça um programa que tenha a seguinte lista contendo os valores de gastos de uma empresa de papel `[2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]`. Com esses valores, faça um programa que calcule a média de gastos. Dica, use as funções built-in [`sum()`](https://docs.python.org/3/library/functions.html#sum) e [`len()`](https://docs.python.org/3/library/functions.html#len).

In [285]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

media = sum(gastos)/len(gastos)

print(f'A média de gastos é de {media}')

A média de gastos é de 3144.222

#### Questão 2
 Com os mesmos dados da questão anterior, defina quantas compras foram acima de 3000 reais e calcule a porcentagem quanto ao total de compras.

In [286]:
i = 0

for val in gastos:
    if val > 3000:
        i +=1

print(f'Foram realizadas {i} compras acima de R$3.000.00 correspondendo a {i/len(gastos)*100}')

Foram realizadas 7 compras acima de R$3.000.00 correspondendo a 70.0

#### Questão 3
Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: `[1,4,7,2,4]`.

In [ ]:
lista = []

while len(lista) < 5:
    lista.append(int(input('Digite um número inteiro')))

print(f'Os números digitados foram {lista}')

Os números digitados foram [5, 10, 17, 8, 9]

#### Questão 4
Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.

In [290]:
lista = []

while len(lista) < 5:
    lista.append(int(input('Digite um número inteiro')))
print(f'Os números digitados foram {lista}')

lista_i =[]
while len(lista) > 0:
    lista_i.append(lista.pop())

print(f'Lista invertida {lista_i}')

Os números digitados foram [7, 85, 6, 4, 2]
Lista invertida [2, 4, 6, 85, 7]

#### Questão 5
Faça um programa que, ao inserir um número qualquer, criará uma lista contendo todos os números primos entre 1 e o número digitado.

In [311]:
num = int(input('Digite um número'))

while num < 1:
    num = int(input('Número inválido. Digite um número maior que zero'))

print(f'\nNúmero escolhido {num}')

if num == 1:
    print('Número 1 não é primo')

primos = []

for x in range(2,num+1):
    ctr = True
    for i in range(2, x):
        if x % i == 0:
            ctr = False
            break

    if ctr == True:
        primos.append(x)

if len(primos) > 0:
    print(f'Os números primos entre 1 e {num} são: {primos}')

Número escolhido 2
Os números primos entre 1 e 2 são: [2]

#### Questão 6
Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é uma data válida para uma análise.

In [42]:
data = input('Digite a data para validação em um formato dia, mês e ano')

dia = 0
mes = 0
ano = 0

if '/' in data:
    data = data.split('/')
    dia = int(data[0])
    mes = int(data[1])
    ano = int(data[2])
elif '-' in data:
    data = data.split('-')
    dia = int(data[0])
    mes = int(data[1])
    ano = int(data[2])
elif '.' in data:
    data = data.split('.')
    dia = int(data[0])
    mes = int(data[1])
    ano = int(data[2])
elif len(data) >= 5:
    dia = int(data[:2])
    mes = int(data[2:4])
    ano = int(data[4:])


dia31 = [1,3,5,7,8,10,12]

bisexto = False

if int(ano) % 100 == 0:
    if int(ano) % 400 == 0:
        bisexto = True
elif int(ano) % 4 == 0:
    bisexto = True

datavalid = True

#Validando Ano
if ano < 0:
    datavalid = False

#Validando Mês
if mes > 12 or mes < 1:
    datavalid = False

#Validando Dia
if dia < 1 or dia > 31: #valida se o dia está entre 1 e 31
    datavalid = False
elif (mes == 2 and bisexto == True and dia > 29)  or (mes == 2 and bisexto == False and dia > 28): #valida se é fevereiro e se o dia é maior que 29 em ano não bisexto
    datavalid = False
elif mes not in dia31 and dia >= 31:
    datavalid = False

if type(data) == str and len(data) < 5:
    print(f'Inválido. O dado informado ({data}), {dia}-{mes}-{ano} não forma uma data')
else:
    print(f'Data escolhida {dia}-{mes}-{ano} é {datavalid}')

Data escolhida 12-12-19985 é True

### Momento dos projetos

#### Questão 7
Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias multiplicadas por dia, com base em um processo de duplicação diária e pode ser observado a seguir: `[1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]`. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: `100 * (amostra_atual - amostra_passada) / (amostra_passada)`.

In [45]:
bac = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

bac1 = bac[0]
dia = 1

for bac2 in bac[1:]:
    taxa = 100*(bac2-bac1)/bac1
    print(f'Dia {dia}: Cresimento de {taxa:.2f}%')
    bac1 = bac2
    dia += 1

Dia 1: Cresimento de 75.00%
Dia 2: Cresimento de 57.14%
Dia 3: Cresimento de 51.52%
Dia 4: Cresimento de 56.00%
Dia 5: Cresimento de 44.87%
Dia 6: Cresimento de 46.90%
Dia 7: Cresimento de 51.20%
Dia 8: Cresimento de 50.60%
Dia 9: Cresimento de 50.53%

#### Questão 8
Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros, sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

In [46]:
ids = []

for cod in range(0,10):
    ids.append(int(input('Digite o ID do produto')))

print(f'IDs inseridos: \n{ids}')

par,impar = 0,0

for cod in ids:
    if cod % 2 == 0:
        par += 1
    else:
        impar += 1

print(f'IDs pares: {par}\nIDs ímpares: {impar}')

IDs inseridos:
[45416, 12154, 1242, 121, 321574, 13487, 134587, 36196843, 36841, 3115]
IDs pares: 4
IDs ímpares: 6

#### Questão 9
Desenvolva um programa que informa a nota de um aluno de acordo com suas respostas. Ele deve pedir a resposta de um aluno para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem alternativas:  A, B, C ou D.
```
Gabarito da Prova:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B
```

In [53]:
gabarito = {
    1 : 'D',
    2 : 'A',
    3 : 'C',
    4 : 'B',
    5 : 'A',
    6 : 'D',
    7 : 'C',
    8 : 'C',
    9 : 'A',
    10 : 'B'
}

resp = {}
alternativas = ['A','B','C','D']

for quest in range(1,11):
    resp[quest] = (input(f'Digite a resposta para a questão {quest}'))
    while resp[quest].upper() not in alternativas:
        resp[quest] = (input(f'Resposta inválida. Escolha uma resposta de A a D para a questão {quest}'))
    print(f'Resposta: {resp[quest].upper()}')

acertos = 0

for gab in gabarito.keys():
    if resp[gab].upper() == gabarito[gab]:
        acertos += 1

print(f'\nNota final: {acertos}')

Resposta: A
Resposta: B
Resposta: C
Resposta: D
Resposta: A
Resposta: B
Resposta: C
Resposta: D
Resposta: A
Resposta: B

Nota final: 5

#### Questão 10
Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual, e em que mês elas ocorreram, mostrando os meses por extenso: Janeiro, Fevereiro, etc.

In [ ]:
meses = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']

temp_meses = {}

for mes in meses:
    temp_meses[mes] = float(input(f'Digite a média de temperatura de {mes}'))
    print(f'Temperatura de {mes}: {temp_meses[mes]}°')

media = sum(temp_meses.values()) / len(meses)

print(f'\nA média anual foi de {media:.1f}°\nMeses acima da média:')
for mes in meses:
    if temp_meses[mes] > media:
        print(mes,f'{temp_meses[mes]}°')

Temperatura de Janeiro: 23.5°
Temperatura de Fevereiro: 24.0°
Temperatura de Março: 23.6°
Temperatura de Abril: 22.2°
Temperatura de Maio: 20.1°
Temperatura de Junho: 19.5°
Temperatura de Julho: 18.5°
Temperatura de Agosto: 20.7°
Temperatura de Setembro: 24.1°
Temperatura de Outubro: 23.5°
Temperatura de Novembro: 25.2°
Temperatura de Dezembro: 25.7°

A média anual foi de 22.5°
 Meses acima da média:
Janeiro 23.5°
Fevereiro 24.0°
Março 23.6°
Setembro 24.1°
Outubro 23.5°
Novembro 25.2°
Dezembro 25.7°

#### Questão 11
Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:
```
{'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
```
Escreva um código que calcule o total de vendas e o produto mais vendido.

In [61]:
Vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60, 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

mais_vendido = 'prod'
total_vendas = 0
venda = 0

for prod, qtd in Vendas.items():
    total_vendas += qtd
    if qtd > venda:
        venda = qtd
        mais_vendido = prod

print(f'Total de vendas: {total_vendas}\nProduto mais vendido: {mais_vendido}')

Total de vendas: 920
Produto mais vendido: Produto A

#### Questão 12
Uma pesquisa de mercado foi feita para decidir qual design de uma marca infantil mais agrada crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:
```
'''
Tabela de votos da marca
Design 1 - 1334 votos
Design 2 - 982 votos
Design 3 - 1751 votos
Design 4 - 210 votos
Design 5 - 1811 votos
'''
```
Adapte os dados fornecidos a você para uma estrutura de dicionário e a partir dele, informe o design vencedor e a porcentagem de votos recebidos.

In [64]:
Votos = {
'Design 1' : 1334,
'Design 2' : 982,
'Design 3' : 1751,
'Design 4' : 210,
'Design 5' : 1811,
}

design_vencedor = 'Design'
mais_votos = 0
total_votos = 0

for design,votos in Votos.items():
    total_votos += votos
    if votos > mais_votos:
        design_vencedor = design
        mais_votos = votos

print(f'Analisado {total_votos}. O design vencedor foi o {design_vencedor} com {mais_votos/total_votos*100:.0f}% dos votos ({mais_votos})')

Analisado 6088. O design vencedor foi o Design 5 com 30% dos votos (1811)

#### Questão 13
Os funcionários de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do seu salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: `[1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]`. O abono de cada funcionário não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos funcionários receberam o abono mínimo e qual o maior valor de abono fornecido.

In [77]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

salario_abono = {}
qtd_minimo = 0
maior_abono = 0
total_gastos = 0

for salario in salarios:
    if salario * 0.1 < 200:
        salario_abono[salario] = 200
        qtd_minimo += 1
    else:
        salario_abono[salario] = round(salario * 0.1,2)
    
    total_gastos = salario + salario_abono[salario]

    if salario_abono[salario] > maior_abono:
        maior_abono = salario_abono[salario]

print(f'O total de gastos será de R${total_gastos:.2f}')
print(f'{qtd_minimo} receberão o abono minimo de R$200.00')
print(f'O maior abono será de R${maior_abono:.2f}\n')

print(f'Dicionário do abono:',salario_abono)

O total de gastos será de R$8693.30
2 receberão o abono minimo de R$200.00
O maior abono será de R$790.30

Dicionário do abono: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8, 7685: 768.5, 7782: 778.2, 7903: 790.3}

#### Questão 14
Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área da floresta e armazenaram essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.
```
{'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}
```
Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in [`sum()`](https://docs.python.org/3/library/functions.html#sum) e [`len()`](https://docs.python.org/3/library/functions.html#len).

In [94]:
info = {'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}

maior_area = 'Área'
maior_qtd = 0
media_geral = 0

animais_qtd = 0
plantas_qtd = 0

media_geral

print('Dados da Pesquisa')

for area,especies in info.items():
    media = sum(especies)/len(especies)

    media_geral +=media

    print(f'A média de espécies na {area} é de {media:.0f}')

    if sum(especies) > maior_qtd:
        maior_area = area
        maior_qtd = sum(especies)

    animais_qtd += especies[0]
    plantas_qtd += especies[1]

media_geral = media_geral/len(info)

print(f'\nA média geral de espécies é de {media_geral}')
print(f'A {area} tem a maior diversidade biológica, com {maior_qtd} de espécies de animais e plantas')
print(f'Ao todo, foram registrados {animais_qtd} espécies de animais e {plantas_qtd} de plantas')

Dados da Pesquisa
A média de espécies na Área Norte é de 5028
A média de espécies na Área Leste é de 5466
A média de espécies na Área Sul é de 6732
A média de espécies na Área Oeste é de 32067
A média de espécies na Área Centro é de 33853

A média geral de espécies é de 16629.2
A Área Centro tem a maior diversidade biológica, com 67706 de espécies de animais e plantas
Ao todo, foram registrados 47232 espécies de animais e 119060 de plantas

#### Questão 15
O setor de RH da sua empresa te pediu uma ajuda para analisar as idades dos funcionários de 4 setores da empresa. Para isso, ele te forneceu os seguintes dados:
```
{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
``` 
Sabendo que cada setor tem 10 funcionários, construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

In [98]:
# Especificamos os dados para um dicionário
dados = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
# Inicializamos a variável que irá somar todas as idades
total_idades = 0
# Percorremos os valores de chaves e elementos do dicionário
for setor, idades in dados.items():
  # Calculamos a média dividindo a soma das idades pela quantidade funcionários em cada setor
  media_idade = sum(idades) / len(idades)
  # Imprimimos
  print(f'O {setor} tem a média de {media_idade}')
  # Somamos as médias
  total_idades += sum(idades)
# A média total será dada pela total_idades dividida pela quantidade de pessoas totais (setores * funcionários por setor)
media_total = total_idades / (len(idades) * len(dados))
print(f'A média de idade geral é {media_total}')

# Inicializamos a variável que irá contar todas pessoas com idade acima da média
acima_media = 0
# Percorremos novamente os valores de chaves e elementos do dicionário
for setor, idades in dados.items():
  # Lemos os elementos (idades) dentro de cada lista de idades no dicionário
  for id in idades:
    # Verificamos se o valor da idade é superior à média total
    if id > media_total:
      # Caso o valor da idade seja superior à média, incrementamos mais um no contador
      acima_media += 1
# Resultado
print(f'{acima_media} pessoas estão acima da idade média geral')

O Setor A tem a média de 39.9
O Setor B tem a média de 42.3
O Setor C tem a média de 35.8
O Setor D tem a média de 36.5
A média de idade geral é 38.625
18 pessoas estão acima da idade média geral

In [97]:
dados = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

media_geral = 0
media_mais_velhos = 0
setor_mais_velhos = 0
media_mais_novos = 100
setor_mais_novos = 0
acima_media = 0

for setor, idades in dados.items():
    media = sum(idades)/len(idades)
    media_geral += media

    if media > media_mais_velhos:
        media_mais_velhos = media
        setor_mais_velhos = setor
    if media < media_mais_novos:
        media_mais_novos = media
        setor_mais_novos = setor
    
    print(f'A média de idade do {setor} é de {media} anos')

media_geral = media_geral/len(dados)

for setor, idades in dados.items():
    for idade in idades:
        if idade > media_geral:
            acima_media += 1

print(f'\nA média geral de idade entre todos os setores é de {media_geral:0.1f}')
print(f'Existem {acima_media} funcionários acima da média de idade')
print(f'O setor com a maior média de idade é o {setor_mais_velhos}, já com a menor é o {setor_mais_novos}')

A média de idade do Setor A é de 39.9 anos
A média de idade do Setor B é de 42.3 anos
A média de idade do Setor C é de 35.8 anos
A média de idade do Setor D é de 36.5 anos

A média geral de idade entre todos os setores é de 38.6
Existem 18 funcionários acima da média de idade
O setor com a maior média de idade é o Setor B, já com a menor é o Setor C